################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PeopleManager.TP1/v15/Server/sqlite3
