
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h1 class="jumbotron"><strong>OLHA MEU INDEX</strong></h1>

<p>
    @Html.ActionLink("Página com datas", "List_date")
</p>
<p>
    @Html.ActionLink("Página com emails", "List_email")
</p>